* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    width: 100vw;
}
.container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.content {
    display: block;
    align-items: center;
    justify-content: center;
    background-image: url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    margin: 0px 50px;
    width: 80vw;
    height: 90vh;
    z-index: 99;
    box-shadow: 1px 1px 6px .5px grey;
    border-radius: 14px;
}
.content_text {
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 43%;
}
.content_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.p1, .p2, .p3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(107, 107, 107);
    font-size: 16px;
    font-weight: 500;
}
.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(225, 100%, 98%);
    padding: 10px 0px;
    margin: 14px 15px;
    border-radius: 10px;
}
.flex_img {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 48px;
    height: 48px;
    position: relative;
    right: 20%;
}
h4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: hsl(223, 47%, 23%);
    position: relative;
    right: 65%;
}
.p4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    color: rgb(107, 107, 107);
    position: relative;
    right: 65%;
}
a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 18px;
    color: hsl(245, 75%, 52%);
    position: relative;
    left: 50px;
    font-weight: 700;
}
a:hover {
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70vw;
    position: relative;
    left: 7%;
    top: 12px;
    padding: 12px 0px;
    border: none;
    outline: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 16px;
    font-weight: 900;
 }
 
 .btn:hover{
    background-color: hsl(224, 23%, 55%);
    color: white;
    cursor: pointer;
 }

 .p5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(107, 107, 107); 
    margin-top: 30px; 
} 

@media only screen and (min-width: 768px) {
    .container {
        display: block;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .content {
        position: relative;
        width: 80vw;
        height: 78vh;
        position: relative;
        top: 80px;
        left: 30px;
    }
    .content_text {
        position: relative;
        top: 42%;
    } 
    .content_header {
        margin: 15px 0px;
        font-size: 32px;
    }
    .p1, .p2, .p3{
        font-size: 24px;
    }
    .flex_container {
        padding: 20px 0px;
        margin: 20px 28px;
    }
    .flex_img {
        width: 70px;
        height: 70px;
        position: relative;
        right: 24%;
    }
    h4 {
        font-size: 26px;
        position: relative;
        right: 130px;
    }
    .p4 {
        font-size: 26px;
        position: relative;
        right: 130px;
    }
    a {
        font-size: 26px;
        position: relative;
        left: 80px;
    }
    .btn {
        padding: 20px 0px;
        font-size: 20px;
     }
     .p5 {
        font-size: 26px;
        margin-top: 40px; 
    } 
}

@media only screen and (min-width: 992px) {

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 70vh;
    }
    .content {
        width: 30vw;
        height: 92vh;
    }

    .content_text {
        display: block;
        align-items: center;
        justify-content: center;
        width: 30vw;
        position: relative;
        top: 36%;
    }
    .content_header {
        font-size: 24px;
    }
    .p1, .p2, .p3{
        font-size: 16px;
    }
    
    .flex_container {
        padding: 10px 0px;
        margin: 20px 15px;
    }
    .flex_img {
        width: 50px;
        height: 50px;
        position: relative;
        right: 45px;
    }
    h4 {
        font-size: 16px;
        position: relative;
        right: 30px;
    }
    .p4 {
        font-size: 16px;
        position: relative;
        right: 30px;
    }
    a {
        font-size: 16px;
        position: relative;
        left: 48px;
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 26vw;
        position: relative;
        left: 7%;
        top: 6px;
        padding: 10px 0px;
        border: none;
        outline: none;
        background-color: hsl(245, 75%, 52%);
        color: white;
        font-size: 14px;
        font-weight: 900;
     }
    .p5 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        color: rgb(107, 107, 107); 
        margin-top: 30px; 
    }   
 } 
